/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing:border-box;
}

html{
    font-family:Noto Sans TC;
}

img{
    max-width:100%;
    height:auto;
    vertical-align:middle;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #4B4B4B;
}


.wrap{
    max-width: 1920px;
    margin:0 auto;
    padding: 16px;
}
/* headerBegin */
.header ul{
    display:flex;
    width:100%;
    margin: top 28px;
    margin-bottom:28px;
    justify-content:center;    
    gap: 20 px;
    font-size: 30px;
    font-weight: bold;
}
.header a:hover{
    color: blue;
}
.headerhome{
    margin-left:24px;   
    text-decoration: none;
}
.headerblog{
    margin-left:24px;   
    text-decoration: none;
}
/* headerEnd */

/* heroBegin */
.hero{
    display:flex;    
}
.heroL{
    width: 50%;
}
.heroR{
    display: flex;
    width: 50%;
    color: blue;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 80px;
}
.heroBlog {   
    margin-bottom: 12px;
    font-weight:bold;
    font-size: 128px;
}
.heroDescribe{
    font-weight: bold;
    font-size: 30px;
}
/* heroEnd */

/* aboutBegin */
.about {
    display: flex;
    gap: 20px;
    margin-bottom: 80px;
    border-bottom: 1.5px solid black;
    border-top: 1.5px solid black;
    border-right: 1.5px solid black;
}
.aboutImg{
    width:50%;    
}
.aboutbox{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 312px;
   
}
.aboutbox time {
    padding-bottom: 8px;
}
.abouttitle {
    display: flex;
    color: blue;
    font-size: 24px;
    padding-bottom: 12px;
    margin-bottom: 12px;    
}
.top16{
    margin-top:16px;
}
.top8{
    margin-top:8px;
}
.abouttitle .hashTagSP{
    color: white;
    background: blue;
    border-radius: 80px;
    font-weight: 800;
    padding: 8px 16px;
    vertical-align: top;
    margin-left:20px;
    margin-top:-8px;
}
.about button{
    border: 1px solid #000000;
    border-radius: 80px;
    padding: 8px 16px;
}
.about button:hover {
    color: #FFFFFF;
    background: #3c4983;    
}
/*  aboutEnd */

/*  searchBegin */
.search {
    margin-bottom: 40px;
}
.searchBar {
    width: 33%;
    font-size: 18px;
    border-radius: 80px;
    padding: 18px 52px;
    margin-left: 100px;

}
/*  searchEnd */

/* containerBegin*/
.container{
    display: flex;
    flex-wrap: wrap;
    width: 1296px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 16px;
    gap: 24px;
}
.card{
    width: 405px;
    margin-top: 36px;
    margin-bottom: 36px; 
}
.time{
    display: inline;
    font-weight: bold;
}
.hashTag{
    font-size: 20px;
    font-weight: bold;
    color: blue;
}
.hashTagSP{
    font-size: 16px;
    color: white;
    background: blue;
    border-radius: 40px;
    padding: 8px 12px 8px 12px;
    text-decoration-line: none;
}
.title{
    font-size: 24px;
    font-weight: 800;
    padding-top: 16px;
    padding-bottom: 16px;
}

p{
    line-height: 1.2;
    text-align: left;
    letter-spacing: 4px;
}

.card button{
    border: 1px solid #000000;
    border-radius: 80px;
    padding: 8px 16px;
}
.card button:hover{
    color: purple;
}

div{
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 8px;
}
/* containerEnd */

/*  PagesBegin */
.pageBar {
    width: 32%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 80px;
    text-align: center;
    background: #FFFFFF;
    border-radius: 80px;
}
.page-be{
    margin: 0px 20px;
    vertical-align: middle;
}
.page-af{
    margin: 0px 20px;
    vertical-align: middle;
}
.page{
    width: 40px;
    padding: 8px 0px;
    vertical-align: middle;
}
/*  PagesEnd */

/*  footerBegin */
.contact {
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 80px 312px;
}
.email {
    font-size: 28px;
}
.socialM {
    display: flex;
    justify-content: space-between;
}
.socialMlist{
    display: flex;
    justify-content: space-between;
}
.copyright p{
    text-align: center;
    padding: 24px;
    background: white;
}
/*  footerEnd */